.progress_blocks {
    position: fixed;
//    padding: absolute;
    right: 40px;
    bottom: 20px;
    img {
        width: 150px;
        position: absolute;
        right:0;
        transform: translateY(-900%);
    }
    .red {
        bottom:0;
    }
    .orange {
        bottom: 80px; 
    }
    .green {
        bottom: 160px;
    }
    .yellow {
        bottom: 240px;
    }
    .blue {
        bottom: 320px;
    }
    .darkblue {
        bottom: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .progress_blocks {
        display: none;
    }
}