.last {
    background-image: url('./assets/img/brickbackground.png');
    .squares {
        height: 300px;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
        padding: 20px;
        display: block;
        max-width: 800px;
        margin: 0 auto;
    }
    .module {
        background-color: #ffffff;
        display: block;
        width: 90%;
        margin: 20px auto;
        max-width: 800px;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
        padding: 50px;
        label {
            display: block;
            margin-bottom: 50px;
            text-transform: uppercase;
        }
        input[type=text] {
            display: block;
            width: 100%;
            padding: 10px 10px 10px 0;
            font-size: 18px;
            margin-bottom: 10px;
            outline: none;
            border: 0;
            border-bottom: 2px solid #777777;
            transition: all ease-out .25s;
            &:focus {
                border-bottom-color: #6cab43;
            }
        }
        button[type=button] {
            display: block;
            width: 100%;
            background-color: $red;
            color: #ffffff;
            border: 0;
            padding: 20px;
            font-size: 18px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all ease-out .25s;
            &:hover {
                background-color: darken($red, 10%);
            }
        }
    }
    .other_buttons {
        display: none;
        width: 95%; 
        margin: 0 auto;
        button {
            cursor: pointer;
            border: 0;
            transition: all ease-out .25s;
        }
    }
}