body,
button,
input,
label {
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
}

html {
    font-size: calc(1em + 1vw);
}

@media screen and (min-width: 50em) {
    html {
        font-size: 1.5em;
    }
}

h1 {
    font-size: 1.602rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.424rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.266rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 20px;
}
button {
    font-size: .75rem;
}